.filme-info {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 14px;
    margin: 32px auto;
    background-color: #121212;
    border-radius: 0.25rem;
}

.filme-info h1 {
    margin: 14px 0;
    color: #fff;
}

.filme-info img {
    border-radius: 0.5rem;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h3 {
    margin-top: 14px;
}

.filme-info span {
    margin: 8px 0;
}

.filme-info strong {
    margin-top: 1rem;
}

.area-buttons button {
    margin-right: 12px;
    margin-top: 2rem;
    margin-left: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    background-color: #116FEB;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.25s;
}

.area-buttons a {
    text-decoration: none;
    color: #fff;
    transition: all 0.25s;
}

.area-buttons button:hover {
    background-color: #0d5ac1;
}